<h1>ADD PRODUCT</h1>

<form action="/admin/newproduct" method="POST">
    <main>
        <div>
            <input type="text" name="nome">
            <label for="nome">Nome do produto:</label>
        </div>
        <div>
            <input type="number" name="valor">
            <label for="preco">Valor do produto:</label>
        </div>
        <div>
            <textarea name="desc"></textarea>
            <label for="">Descrição:</label>
        </div>
        <div>
            <input type="number" name="quant">
            <label for="quant">Quantidade:</label>
        </div>
        <div>
            <img src="" alt="">
        </div>
        <button>Cadastrar Produto</button>
    </main>


</form>
