<h1>ADD PRODUCT</h1>

<form action="/admin/newproduct" method="POST" enctype="multipart/form-data">
    <main>
        <div>
            <input type="text" name="nome">
            <label for="nome">Nome do produto:</label>
        </div>
        <div>
            <input type="number" name="valor">
            <label for="preco">Valor do produto:</label>
        </div>
        <div>
            <textarea name="desc"></textarea>
            <label for="">Descrição:</label>
        </div>
        <div>
            <input type="number" name="quant">
            <label for="quant">Quantidade em estoque:</label>
        </div>
        <div>
            <input type="file" name="image" class="hidden" id="image" accept="image/*" onchange="previewImage(event)">
            <img src="" id="preview" alt="" class="max-w-[300px] max-h-[300px]">
            <button type="button" onclick="document.getElementById('image').click()">
                Selecionar Foto
            </button>
        </div>
        <button type="submit">Cadastrar Produto</button>
    </main>


</form>
<a href="/admin/products"><button>Lista de Produtos</button></a>
<script>
function previewImage(event) {
    var file = event.target.files[0];
    if (file) {
        var reader = new FileReader();

        reader.onload = function(e) {
            document.getElementById('preview').src = e.target.result;
        };

        reader.readAsDataURL(file);
    }
}
</script>
