<footer class="bg-gray-400 w-full h-24 bottom-0">
    <div class="flex flex-row w-full pt-5">
        <a href="" class="basis-1/5 text-center hover:underline">
            <p class="text-sm">Trabalhe conosco</p>
        </a>
        <a href="" class="basis-1/5 text-center hover:underline">
            <p class="text-sm">Termos e condições</p>
        </a>
        <a href="" class="basis-1/5 text-center hover:underline">
            <p class="text-sm">Promoções</p>
        </a>
        <a href="" class="basis-1/5 text-center hover:underline">
            <p class="text-sm">Acessibilidade</p>
        </a>
        <a href="" class="basis-1/5 text-center hover:underline">
            <p class="text-sm">Contato</p>
        </a>

    </div>
    <div class="grid grid-cols-2 w-full w-full pt-2 pb-1 pl-4">
        <p class="text-sm text-start">Copyright © 1999-2025 LTDA.</p><br>
        <p class="text-sm text-start">CNPJ n.º 03.432424247.331/0001-41 / Av. das Nações EUA, nº 132003, Bonfim, Cidade/P - CEP 0432423-903 - Nome</p>

    </div>
</footer>