<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Main</title>
</head>
<body>
    {{#if error}}
        <div>{{error}}</div>
    
    {{else}}

    {{/if}}



    {{>navbar}}
    {{>msg}}
    <button class="text-black bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
  Red
</button>
    {{{body}}}

</body>
</html>