<!DOCTYPE html>
<html lang="pt-br" class="h-screen">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Main</title>
</head>
<body class=" h-screen flex flex-col">




    {{>navbar}}
    {{#if error}}
        <div>{{error}}</div>
    
    {{else}}

    {{/if}}
    {{>msg}}
        
    {{{body}}}

</body>
</html>