{{#if erros}}
    {{#each erros}}
        <div>{{texto}}</div>
    {{/each}}
{{/if}}

<main>
    <form action="/user/profile/adress" method="POST">
        <div>
            <label for="Endereço">Endereço:</label>
            <input type="text" name="end">
        </div>
        <div>
            <label for="Bairro">Bairro:</label>
            <input type="text" name="bairro">
        </div>
        <div>
            <label for="numero">Número:</label>W
            <input type="number" name="numero">
        </div>
        <div>
            <label for="cep">CEP:</label>
            <input type="number" name="cep">
        </div>
        <div>
            <label for="Cidade">Cidade:</label>
            <input type="text" name="cidade">
        </div>
        <div>
            <label for="estado">Estado:</label>
            <input type="text" name="estado">
        </div>
        <button>Salvar novo endereço</button>
    </form>
</main>

{{!-- Colocar um select no ' estado ' --}}