<form action="/user/login" method="POST">
    <main>
        <div>
            <input type="text" id="email">
            <label for="email">Email:</label>
        </div>
        <div>
            <input type="password" id="senha">
            <label for="senha">Senha:</label>
        </div>
        <div>
            <input type="passowrd">
            <label for="senha2">Digite a sua senha novamente:</label>
        </div>
        <button>Login</button>
    </main>
</form>