<form action="/user/login" method="POST">
    <main>
        <div>
            <input type="text" id="email" name="email">
            <label for="email">Email:</label>
        </div>
        <div>
            <input type="password" id="senha" name="senha">
            <label for="senha">Senha:</label>
        </div>
        <button>Login</button>
    </main>
</form>
<a href="/user/"><button>Home</button></a>