

<div class="flex h-screen w-full">

    <nav class="w-1/8 bg-black text-white p-4">
        <a href="/user/profile/address" class="block py-2">Endereços</a>
    </nav>


    <main class="w-7/8 bg-white px-20">
        <form action="/user/profile/edit" method="POST" class="space-y-4">
            <div>
                <label for="nome">Nome:</label>
                <input type="text" value="{{user.nome}}" name="nome">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" value="{{user.email}}" name="email">
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" placeholder="Digite a sua nova senha">
            </div>
            <div>
                <label for="senha2">Confirme sua senha:</label>
                <input type="password" name="senha2" placeholder="Confirme a sua nova senha">
            </div>
            <input type="hidden" name="id" value="{{user._id}}">
            <button>Salvar</button>
        </form>
    </main>
</div>
