

<div class=" flex h-screen items-center justify-center px-4 bg-gray-500 sm:px-6 lg:px-8 ">
    {{#if erros}}
        {{#each erros}}
    <div>
        {{texto}}
    </div>
    {{/each}}
    {{/if}}
    <div class="bg-white p-4 h-full w-[35%] space-y-4">
        <div>
            <h1 class="text-center pt-4 text-lg">Registre-se</h1>
        </div>
        <form action="/user/register" method="POST" class="space-y-8">
            <div class=" ">
                <label for="nome" class="text-md">Nome:</label>
                <input type="text" id="nome" name="nome" class="w-full px-2 py-3 bg-gray-300 rounded-md">
            </div>
            <div class="">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="w-full px-2 py-3 bg-gray-300 rounded-md">
            </div>
            <div class="">
                <label for="nasc">Nascimento:</label>
                <input type="date" id="nasc" name="nasc" class="w-full px-2 py-3 bg-gray-300 rounded-md">
            </div>
            <div class="">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" class="w-full px-2 py-3 bg-gray-300 rounded-md">
            </div>
            <div class="">
                <label for="senha2" class="">Confirme a sua senha:</label>
                <input type="passowrd" name="senha2" class="w-full px-2 py-3 bg-gray-300 rounded-md">
            </div>
            <div class="flex justify-center items-center">
                <div class="flex justify-center items-center">
                    <button type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Register</button>
                </div>
                <div class="flex justify-center items-center">
                    <a href="/user/"><button type="button" class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Home</button></a>
                </div>
            </div>
        </form>
    </div>
</div>
