<h1>PRODUTOS PESQUISADOS</h1>

<nav>
Filtros dos produtos
</nav>
<main>
    <div>
        div de cada produto ( vai ser repetida)
    </div>


    <ul>
        <li>
            PAGINAÇÃO
        </li>
    </ul>
</main>